<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>MyGatherLocal</title>
    <link rel="stylesheet" href="../static/css/index.css">
            
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <p>MyGatherLocal</p>
        </div>
        <div class="navbar-right">
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Sign Up</a></li>
            <li><a href="/events">Events</a></li>
        </div>
    </div>
</body>
</html>