<!DOCTYPE html> <!-- Page where users login, will fix css later lol -->
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>MyGatherLocal Register</title>
    <link rel="stylesheet" href="../static/css/login.css">
            
</head>
<body>
    <div class="navbar"> <!-- copied from index -->
        <div class="navbar-left">
            <p>MyGatherLocal Login</p>
        </div>
        <div class="navbar-right">
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Sign Up</a></li>
            <li><a href="/events">Events</a></li>
        </div>
    </div>
    <div class="loginform">
        <form>
        <label for="username">username:</label>
        <input type="text" id="name" name="name" required>
        <br><br>

        <label for="password">password:</label>
        <input type="password" id="password" name="password" required>
        </form>
        <br><br>

        <input type="submit" value="Submit">
    </div>
</body>
</html>