<!DOCTYPE html> <!-- Page where users login, will fix css later lol -->
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>MyGatherLocal Register</title>
    <link rel="stylesheet" href="../static/css/register.css">
            
</head>
<body>
    <div class="navbar"> <!-- copied from index -->
        <div class="navbar-left">
            <a href="/"><p>MyGatherLocal Login</p></a>
        </div>
        <div class="navbar-right">
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Sign Up</a></li>
            <li><a href="/events">Events</a></li>
        </div>
    </div>
    <div class="registerform">
        <form id="registerformid">
        <label for="username">username:</label>
        <input type="text" id="username" name="username" required>
        <br><br>

        <label for="password">password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
                
        <input type="submit" value="Register">
        </form>
    </div>
    <p id="message"></p>
</body>
<script>
  document
    .getElementById("registerformid")
    .addEventListener("submit", async function(e) {
      e.preventDefault();
      const form = e.target;
      const data = new FormData(form); 

      try {
        const resp = await fetch("/api/auth/register", {
          method: "POST",
          body: data,
        });

        if (!resp.ok) {
          const err = await resp.text();
          throw new Error(err || resp.statusText);
        }

        const result = await resp.json();
        window.location.replace("/auth/login")
      } catch (err) {
        document.getElementById("message").textContent =
          "Error: " + err.message;
      }
    });
</script>

</html>